@model CadastroEmpresaMVC.Models.Empresa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSituacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSituacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Efr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Efr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Situacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logradouro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Porte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Porte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abertura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NaturezaJuridica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NaturezaJuridica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fantasia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fantasia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltimaAtualizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltimaAtualizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotivoSituacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotivoSituacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SituacaoEspecial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SituacaoEspecial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSituacaoEspecial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSituacaoEspecial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CapitalSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapitalSocial)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
